{% extends 'base_admin.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    
    {% block content %}


    <section class="site-section bg-light" id="section-contact">
        <div class="container">
          <div class="row">
  
            <div class="col-md-12 text-center mb-5 site-animate">
              <h2 class="display-4">Get In Touch</h2>
              <div class="row justify-content-center">
                <div class="col-md-7">
                  <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-7 mb-5 site-animate">
              <form  method="post",
              enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_ul}}
                <button type="submit">
                    Crear
                </button>
              </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 site-animate">
              <p><img src="images/about_img_1.jpg" alt="" class="img-fluid"></p>
              <p class="text-black">
                Address: <br> 121 Street, Melbourne Victoria <br> 3000 Australia <br> <br>
                Phone: <br> 90 987 65 44 <br> <br>
                Email: <br> <a href="mailto:info@yoursite.com">info@yoursite.com</a>
              </p>
  
            </div>
            
          </div>
        </div>
      </section>
      <div id="map"></div>
      <!-- END section -->

    <h1>{{titulo}}</h1>
    <form method="post"
    enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">
            Crear
        </button>
    </form>
    {% endblock %}

</body>
</html>