
{% extends 'base_admin.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-5 site-animate mb-5">
                    <h4 class="site-sub-title">Nuestra Historia</h4>
                    <h2 class="site-primary-title display-4">Bienvenidos</h2>
                    <p>En el corazón de la ciudad, donde la belleza se encuentra con la tranquilidad, hemos creado un espacio dedicado a tu bienestar.</p>
    
                    <p class="mb-4">Nuestro salón de belleza ha sido diseñado para ofrecerte un ambiente relajante y exclusivo, donde cada detalle está pensado para resaltar tu belleza natural. Nos apasiona brindarte servicios personalizados de alta calidad.</p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
                    <img src="{% static 'images/about_img_1.jpg' %}" alt="Salón de Belleza" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
    
    
    <section class="site-section bg-light" id="section-offer">
    <div class="col-md-12">
      <div class="owl-carousel site-owl">
        
        {% for servicio in servicios %}
        <div class="item">
          <div class="media d-block mb-4 text-center site-media site-animate border-0">
            <img src="{{ servicio.imagen.url }}" alt="{{ servicio.nombre }}" class="img-fluid">
            <div class="media-body p-md-5 p-4">
              <h5 class="text-primary">${{ servicio.precio }}</h5>
              <h5 class="mt-0 h4">{{ servicio.nombre }}</h5>
              <p class="mb-4">{{ servicio.descripcion }}</p>
              <p class="mb-4"><strong>Duración:</strong> {{ servicio.duracion }} minutos</p>
              <p class="mb-0"><a href="{% url 'servicio_detalle' servicio.id %}" class="btn btn-primary btn-sm">Ver Más</a></p>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
      </div>
      </section>
        {% endblock %}
</body>
</html>