{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Disponibles</title>
</head>
<body>

    {% block content %}

    <section class="site-section bg-light" id="section-offer">
        <div class="container">
  
          <div class="row">
            <div class="col-md-12 text-center mb-5 site-animate">
              <h4 class="site-sub-title">Nuestros Servicios</h4>
              <h2 class="display-4">Servicios Disponibles Este Mes</h2>
              <div class="row justify-content-center">
                <div class="col-md-7">
                  <p class="lead">Te ofrecemos una amplia gama de servicios de belleza diseñados para realzar tu estilo y resaltar tu belleza natural. </p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="owl-carousel site-owl">
                
                {% for servicio in servicios %}
                <div class="item">
                  <div class="media d-block mb-4 text-center site-media site-animate border-0">
                    <img src="{{ servicio.imagen.url }}" alt="{{ servicio.nombre }}" class="img-fluid">
                    <div class="media-body p-md-5 p-4">
                      <h5 class="text-primary">${{ servicio.precio }}</h5>
                      <h5 class="mt-0 h4">{{ servicio.nombre }}</h5>
                      <p class="mb-4">{{ servicio.descripcion }}</p>
                      <p class="mb-4"><strong>Duración:</strong> {{ servicio.duracion }} minutos</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- END section -->

    {% endblock %}
    
</body>
</html>
