{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    <h1>Mis Reservas</h1>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Numero de Reserva</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Nombre del Servicio</th>
          <th>Recomendaciones</th>
        </tr>
      </thead>
      <tbody>
        {% for reserva in reservas %}
          <tr>
            <td>
              <a href="{% url 'reserva_detalle' reserva.id %}">
                {{ reserva.id }}
              </a>
            </td>
            <td>{{ reserva.fecha_reserva }}</td>
            <td>{{ reserva.hora_reserva }}</td>
            <td>{{ reserva.servicio }}</td> <!-- Aquí accedes al nombre del servicio -->
            <td>{{ reserva.recomendaciones }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No tienes reservas.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}

</body>
</html>